<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/stylesheets.css">

    <!--libs-->
    <script src="/public/js/manifest.js"></script>
    <script src="/public/js/vendor.js"></script>

    <title>Document</title>
</head>

<body>
    <div class="main">
        <div class="container">
            <div class="hangman" id="app">
                <div style="text-align: center;">{{current_word}}</div>
                <paint
                        ref="paint"
                        :errors="errors"
                ></paint>
                <keyboard
                        ref="keyboard"
                        v-if="current_word_characters"
                        :keyboard="keyboard"
                        :current_word_characters="current_word_characters"
                        :win="win"
                        :failed="failed"
                        @success_pressing="success_pressing"
                        @error_pressing="error_pressing"
                ></keyboard>
                <win
                        ref="win"
                        v-if="win"
                        :current_word="current_word"
                ></win>
                <lose
                        ref="lose"
                        v-if="failed"
                        :current_word="current_word"
                        :success="success"
                ></lose>
                <scores
                        ref="scores"
                ></scores>
            </div>
        </div>
    </div>

    <!--custom-->
    <script src="/public/js/scripts.compiled.js"></script>
</body>

</html>
