<template>
    <div class="keyboard">
        <div class="keyboard__result">
            <div class="keyboard__result__item"
                 :class="{ active: success_keys.indexOf(key) >= 0, 'not-letter': keyboard.indexOf(key) < 0 }"
                 v-for="key in current_word_characters"
            >
                {{ keyboard.indexOf(key) < 0 ? key : success_keys.indexOf(key) >= 0 ? key : '' }}
            </div>
        </div>
        <div class="keyboard__items">
            <div class="keyboard__item"
                 :class="{ active: pressed_keys.indexOf(key) >= 0 || win || failed }"
                 v-for="key in keyboard"
                 @click="pressing(key)"
            >
                {{ key }}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['keyboard', 'current_word_characters', 'win', 'failed'],

        data() {
            return {
                success_keys: [],
                pressed_keys: [],
            }
        },

        computed: {},

        methods: {
            pressing(key) {
                if (this.win || this.failed) {
                    return false;
                }

                if (this.pressed_keys.indexOf(key) >= 0) {
                    return false;
                }

                this.pressed_keys.push(key);

                if (this.current_word_characters.indexOf(key) >= 0) {
                    this.success_keys.push(key);
                    this.$emit('success_pressing');
                } else {
                    this.$emit('error_pressing');
                }
            },
        },

        mounted() {
        },
    }
</script>
