<template>
    <div class="paint">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="350px" height="260px" viewBox="0 0 350 275" preserveAspectRatio="xMidYMid meet">
            <line x1="80" y1="257" x2="260" y2="257" style="stroke: black; fill: none; stroke-width: 2px;"
            v-show="errors >= 1"
            ></line>
            <line x1="100" y1="257" x2="100" y2="40" style="stroke: black; fill: none; stroke-width: 2px;"
            v-show="errors >= 2"
            ></line>
            <line x1="100" y1="40" x2="230" y2="40" style="stroke: black; fill: none; stroke-width: 2px;"
            v-show="errors >= 3"
            ></line>
            <line x1="100" y1="80" x2="130" y2="40" style="stroke: black; fill: none; stroke-width: 2px;"
            v-show="errors >= 4"
            ></line>
            <line x1="230" y1="40" x2="230" y2="80" style="stroke: black; fill: none; stroke-width: 2px;"
            v-show="errors >= 5"
            ></line>
            <circle cx="230" cy="90" r="20" style="fill: khaki; stroke: black; stroke-width: 2px;"
            v-show="errors >= 6"
            ></circle>
            <line x1="230" y1="110" x2="230" y2="170" style="stroke: black; fill: none; stroke-width: 2px;"
            v-show="errors >= 7"
            ></line>
            <line x1="230" y1="140" x2="250" y2="120" style="stroke: black; fill: none; stroke-width: 2px;"
            v-show="errors >= 8"
            ></line>
            <line x1="230" y1="140" x2="210" y2="120" style="stroke: black; fill: none; stroke-width: 2px;"
            v-show="errors >= 9"
            ></line>
            <line x1="230" y1="170" x2="250" y2="200" style="stroke: black; fill: none; stroke-width: 2px;"
            v-show="errors >= 10"
            ></line>
            <line x1="230" y1="170" x2="210" y2="200" style="stroke: black; fill: none; stroke-width: 2px;"
            v-show="errors >= 11"
            ></line>
        </svg>
    </div>
</template>

<script>
    export default {
        props: [ 'errors' ],

        data () {
            return {
            }
        },

        computed: {
        },

        mounted () {
        },
    }
</script>
