<template>
    <div class="scores">
        <div class="scores__wrapper">
            <div class="scores__header">
                <div class="scores__item">
                    <div class="score_type">Тип</div>
                    <div class="score_word">Слово</div>
                    <div class="score_date">Дата</div>
                </div>
            </div>

            <div class="scores__items empty"
                 v-if="Object.keys(scores).length <= 0"
            >
                Записей нет
            </div>

            <div class="scores__items"
                 v-if="Object.keys(scores).length > 0"
            >

                <div class="scores__item"
                     v-for="score in scores"
                >
                    <div class="score_type">{{ score.type }}</div>
                    <div class="score_word">{{ score.word }}</div>
                    <div class="score_date">{{ score.date }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [],

        data() {
            return {
                scores: {},
            }
        },

        computed: {},

        methods: {
            updateScores() {
                this.scores = JSON.parse(localStorage.getItem('scores')) != null ? JSON.parse(localStorage.getItem('scores')) : {};
            },
        },

        mounted() {
            this.updateScores();
        },
    }
</script>
