<template>
    <div class="modal win"
         v-show="show"
    >
        <div class="modal__wrapper">
            <div class="modal__content">
                <p style="text-align: center;">Вы выиграли</p>
                <p>Правильное слово: {{ current_word }}</p>
            </div>
        </div>

        <div class="overlay"
             @click="hide()"
        ></div>
    </div>
</template>

<script>
    export default {
        props: ['current_word'],

        data() {
            return {
                show: true,
            }
        },

        computed: {},

        methods: {
            hide() {
                this.show = !this.show;
            },
        },

        mounted() {
        },
    }
</script>
