* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main {
  padding: 20px 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.paint {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.keyboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .keyboard__result {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    .keyboard__result__item {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #000;
      color: transparent;
      width: 20px;
      height: 20px;
      margin-bottom: 5px;

      &:not(:last-child) {
        margin-right: 5px;
      }

      &.not-letter {
        color: #000;
        border: none;
      }

      &.active {
        border-bottom: 1px solid transparent;
        color: #000;
      }
    }
  }

  .keyboard__items {
    display: flex;
    flex-wrap: wrap;

    .keyboard__item {
      border: 1px solid #000;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-bottom: 10px;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &.active {
        opacity: 0.5;
        cursor: no-drop;
      }
    }
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  .modal__wrapper {
    background: #fff;
    padding: 20px 80px;
    z-index: 2;
    position: relative;
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: inherit;
    top: inherit;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
  }
}

.scores {
  margin-top: 100px;

  .scores__header, .scores__items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;

    .scores__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      & > div {
        width: 33%;
        text-align: center;

        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }
      }
    }
  }

  .scores__items {
    &.empty {
      align-items: center;
    }

    .scores__item {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  .scores__header {
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 1000px) {
  .keyboard {
    .keyboard__result {
      flex-wrap: wrap;

      .keyboard__result__item {
        width: 15px;
        height: 15px;

        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }

    .keyboard__items {
      align-items: center;
      justify-content: flex-start;
      margin: 0 -5px;

      .keyboard__item {
        margin: 5px !important;

        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }
  }

  .modal {
    padding: 15px;

    .modal__wrapper {
      width: 100%;
      padding: 20px 30px;
    }
  }

  .scores {
    .scores__header, .scores__items {
      width: 100%;
    }
  }
}
